---
import { ts, type Locale } from "../../i18n";
import { icons } from "../../assets/icons";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;
---

<section class="cta-bottom mt-8">
  <p>{ts(locale, "ctaSub")}</p>
  <a href="https://github.com/kaida-palooza/ccpoke" target="_blank" rel="noopener" class="cta-gh">
    <span class="w-4 h-4 inline-flex" set:html={icons.github16} />
    <span>{ts(locale, "ctaGithub")}</span>
  </a>
</section>
